* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before< *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active{outline: none;}
a:focus, a:active {outline: none}

nav, header, footer, aside{display: block;}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0; border:0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: 400;}

.attribution { 
	font-size: 11px; 
	text-align: center; 
}

.attribution a { 
	color: hsl(228, 45%, 44%); 
}

body {
	background-color: hsl(30, 38%, 92%);
	display: flex;
	justify-content: center;
	font-family: 'Fraunces', serif;
	font-family: 'Montserrat', sans-serif;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 25px;
}

.content-img {
	background-image: url("../images/image-product-desktop.jpg");
	background-repeat: no-repeat;
	width: 600px;
	height: 900px;
}

.content-info {
	display: flex;
	flex-direction: column;
	max-width: 480px;
	padding: 60px;
	background-color: white;
}

.content-name {
	text-transform: uppercase;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 25px;
	letter-spacing: 0.5em;
	color: hsl(228, 12%, 48%);
	margin-bottom: 40px;
}

.content-title {
	font-family: 'Fraunces';
	font-size: 70px;
	margin-bottom: 40px;
}

.content-info p {
	font-family: 'Montserrat';
	font-weight: 500;
	margin-bottom: 50px;
	font-size: 28px;
	line-height: 1.5;
	color: hsl(228, 12%, 48%);
}

.content-price {
	display: flex;
	align-items: center;
	margin-bottom: 60px;
	/*flex-direction: row;
	flex-wrap: nowrap;*/
}

.new-price {
	font-family: 'Fraunces';
	color: hsl(158, 36%, 37%);
	font-size: 65px;
	margin-right: 35px;
}

.old-price {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 25px;
	text-decoration: line-through;
	color: hsl(228, 12%, 48%);
}

.content-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(158, 36%, 37%);
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: 15px;
	color: white;
}

.btn-add {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 25px;
	padding-left: 20px;
}

.content-btn img {
	width: 35px;
}