@media (max-width: 1250px) {
	.main {
		max-width: 1000px;
	}

	.image {
		max-width: 500px;
	}
}

@media (max-width: 1150px) {
	.main {
		max-width: 700px;
	}

	.main-image {
		background: url(./../images/image-product-mobile.jpg);
		background-repeat: no-repeat;
		background-position: cover;
		height: 500px;
		width: 730px;
		transform: translateY(20px);
	}

	.main-content {

	}

	.image {
		
	}

	.main-container {
		flex-direction: column;
	}
}

@media (max-width: 1000px) {
	

}